body{
    margin: 10%;
}


h1{
    padding-top: 30px;
}

header{
    margin-top: 50px;
    margin-bottom: 30px;
}

main{
    margin-left: 25%;
    margin-right: 25%;
}

.centrarText{
    text-align: center;
}

.formulari{
    text-align: center;
}

.resultat{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    border: solid black 1px;
}

.resu{
    margin: 2%;
}

.portada{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

footer{
    position: absolute;
}