
h2{
    text-align: center;
}

.formulari{
    text-align: center;
}

.resultat{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    border: solid black 1px;
}

.resu{
    margin: 2%;
}